.DS_Store
.ofcom-epoch
.libphonenumber-tag
MYMETA.json
MYMETA.yml
Makefile
blib/
lib/Number/Phone/NANP/Data.pm
share/
lib/Number/Phone/Country/
lib/Number/Phone/StubCountry/*.pm
libphonenumber/
data-files/
pm_to_blib
cover_db/
t/example-phone-numbers.t
lib/Number/Phone/Data.pm
