MYMETA.json
MYMETA.yml
Makefile
blib/
lib/Number/Phone/NANP/Data.pm
share/Number-Phone-UK-Data.db
lib/Number/Phone/Country/
lib/Number/Phone/StubCountry/
libphonenumber/
pm_to_blib
.gitignore
codelist.zip
sabc.txt
sabcde11_12.xls
sabcde13.xls
sabcde14.xls
sabcde15.xls
sabcde16.xls
sabcde17.xls
sabcde18.xls
sabcde19.xls
sabcde2.xls
S3.xls
S5.xls
S7.xls
S8.xls
S9.xls
t/example-phone-numbers.t
COCodeStatus_ALL.csv
COCodeStatus_ALL.zip
